@import "~@sweetalert2/theme-dark/dark.scss";
@import "./variables";

html,
body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

html,
body,
input {
  font-family: "Raleway", sans-serif;
}

a {
  color: $white;
}

p {
  font-family: "Open Sans", sans-serif;
}

pre {
  background: #d9d9d9;
  padding: 10px 0;
  a {
    color: $background-color;
  }
}

header {
  position: relative;
  padding: 32px 0 32px 0;
  margin-bottom: 15px;
  h1,
  p {
    color: $white;
    margin: 0;
  }
  nav {
    position: absolute;
    top: -18px;
    left: -15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% + 30px);
    height: 32px;

    a {
      flex: 1;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 10px;
      background-color: rgba($background-color, 0.5);
      &.active {
        background-color: transparent;
      }
    }
  }
}

footer {
  width: 100%;
  margin-top: 15px;
  p {
    margin: 0;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.App {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  width: 90%;
  max-width: 650px;
  margin: 0 auto 35px auto;
  background: rgba($background-color, 0.85);
  padding: 15px;
  z-index: 100;
  min-height: 100vh;
}

.color-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0;
  box-sizing: border-box;

  .color-block {
    display: block;
    width: 10%;
    height: 75px;
    box-sizing: border-box;
    transition: border 0.15s ease-in-out;
    border: 5px solid $background-color;

    &.selected,
    &:hover {
      border: 5px solid $white;
    }
  }
}

.btn {
  height: 32px;
  font-size: 28px;
  color: $white;
  border: none;
  border-radius: 25px;
  margin: 0 5px;
  box-sizing: border-box;

  &.btn-regenerate {
    background-color: transparent;
    color: #fbfcfc;
  }

  &.btn-export {
    background-color: transparent;
    color: #2196f3;
  }

  &.btn-upload-palette {
    background-color: transparent;
    color: #f44336;
  }

  &.btn-upload-image {
    background-color: transparent;
    color: #f8e71c;
  }

  &.btn-save {
    background-color: transparent;
    color: #f65d52;
  }
}

.rc-tooltip-inner {
  min-height: auto !important;
}

.loader-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($background-color, 0.8);

  .grid {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 40%;
    transform: translate(-50%);

    @keyframes grid {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }

    p {
      color: white;
      width: 250px;
      transform: translate(-50%);
      position: relative;
      top: 100%;
      left: 50%;
    }

    div {
      position: absolute;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $white;
      animation: grid 1.2s linear infinite;

      &:nth-child(1) {
        top: 6px;
        left: 6px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        top: 6px;
        left: 26px;
        animation-delay: -0.4s;
      }
      &:nth-child(3) {
        top: 6px;
        left: 45px;
        animation-delay: -0.8s;
      }
      &:nth-child(4) {
        top: 26px;
        left: 6px;
        animation-delay: -0.4s;
      }
      &:nth-child(5) {
        top: 26px;
        left: 26px;
        animation-delay: -0.8s;
      }
      &:nth-child(6) {
        top: 26px;
        left: 45px;
        animation-delay: -1.2s;
      }
      &:nth-child(7) {
        top: 45px;
        left: 6px;
        animation-delay: -0.8s;
      }
      &:nth-child(8) {
        top: 45px;
        left: 26px;
        animation-delay: -1.2s;
      }
      &:nth-child(9) {
        top: 45px;
        left: 45px;
        animation-delay: -1.6s;
      }
    }
  }
}

.background {
  position: fixed;
  height: 75vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: $highlight-color;
  transform: translateY(-25vh) skew(0, 10deg);
}

.floating-links {
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 100;
  padding: 15px 10px;
}

.bmc-button img {
  width: 27px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  line-height: 36px !important;
  height: 37px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #000000 !important;
  background-color: #ffdd00 !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 1px 9px !important;
  font-size: 22px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: "Cookie", cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #000000 !important;
}
