@import '~@sweetalert2/theme-dark/dark.scss';

html, body {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
}

html, body, input {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

header {
  padding: 15px 0;
  margin-bottom: 15px;
  h1, p {
    color: #e9e9e9;
    margin: 0;
  }
}

footer {
  width: 100%;
  margin-top: 15px;
  p {margin: 0;}
  a { color: #e9e9e9; }
  ul { 
    list-style-type: none; 
    margin: 0;
    padding: 0;
    li { 
      display: inline-block; 
      margin: 0 5px;
    }
  }
}

.App {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  width: 90%;
  max-width: 650px;
  margin: 0 auto 35px auto;
  background: rgba(51,51,51, 0.85);
  padding: 15px;
  z-index: 100;
  min-height: 100vh;
}

.wrapper {
  .upper {
    display: flex;
    flex-direction: row;

    .title-input {
      flex: 2;
      text-align: left;

      input {
        width: 100%;
        height: 36px;
        font-size: 28px;
        background: none;
        color: #d9d9d9;
        border: none;
        border-bottom: 2px solid #d9d9d9;

        &:focus {
          outline: none;
        }
      }
    }

    .buttons {
      display: flex;
      flex: 1;
      height: 38px;
      align-items: center;
      justify-content: flex-end;
    }

    .btn {
      height: 32px;
      font-size: 28px;
      color: #f9f9f9;
      border: none;
      border-radius: 25px;
      margin: 0 5px;
      box-sizing: border-box;
    
      &.btn-regenerate {
        background-color: transparent;
        color: #FBFCFC;
      }

      &.btn-export {
        background-color: transparent;
        color: #2196F3;
      }
    
      &.btn-upload-palette {
        background-color: transparent;
        color: #F44336;
      }

      &.btn-upload-image {
        background-color:transparent;
        color: #F8E71C;
      }
    
      &.btn-save {
        background-color: transparent;
        color: #607D8B;
      }
    }
  }

  .sketch-picker {
    box-sizing: border-box !important;
    &.disabled {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #1e1e1e;
        opacity: 0.5;
        z-index: 100;
      }
    }
  }
}

.color-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0;
  box-sizing: border-box;

  .color-block {
    display: block;
    width: 10%;
    height: 75px;
    box-sizing: border-box;
    transition: border 0.15s ease-in-out;
    border: 5px solid #333;

    &.selected,
    &:hover {
      border: 5px solid white;
    }
  }
}

.rc-tooltip-inner {
  min-height: auto !important;
}


.loader-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);

  .grid {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 40%;
    transform: translate(-50%);
    
    @keyframes grid {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }

    p {
      color: white;
      width: 250px;
      transform: translate(-50%);
      position: relative;
      top: 100%;
      left: 50%;
    }

    div {
      position: absolute;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation: grid 1.2s linear infinite;

      &:nth-child(1) {
        top: 6px;
        left: 6px;
        animation-delay: 0s;
      }
      &:nth-child(2) {
        top: 6px;
        left: 26px;
        animation-delay: -0.4s;
      }
      &:nth-child(3) {
        top: 6px;
        left: 45px;
        animation-delay: -0.8s;
      }
      &:nth-child(4) {
        top: 26px;
        left: 6px;
        animation-delay: -0.4s;
      }
      &:nth-child(5) {
        top: 26px;
        left: 26px;
        animation-delay: -0.8s;
      }
      &:nth-child(6) {
        top: 26px;
        left: 45px;
        animation-delay: -1.2s;
      }
      &:nth-child(7) {
        top: 45px;
        left: 6px;
        animation-delay: -0.8s;
      }
      &:nth-child(8) {
        top: 45px;
        left: 26px;
        animation-delay: -1.2s;
      }
      &:nth-child(9) {
        top: 45px;
        left: 45px;
        animation-delay: -1.6s;
      }
    }
  }
}

.background {
  position: fixed;
  height: 75vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: tomato;
  transform: translateY(-25vh) skew(0, 10deg);
}